.sidebar{
    width: 200px;
    height: 100vh;
    background: #f1f1f1;
    padding: 10px;
    overflow-y: auto;
}

.sidebar-item{
    padding: 5px 10px;
    cursor: not-allowed;
    text-align: left;
}

.folder-container{
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar-item-nested{
    cursor: pointer;
    text-align: left;
}

.chevron-icon{
    padding: 0 10px;
}

/* scrollbar width */
*::-webkit-scrollbar {
    width: 0.4em;
}

/* scrollbar Handle */
*::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 5px;
}